---
import "@radix-ui/themes/styles.css";
import "../styles/global.css";
import IndexContent from "./index-content.tsx";

import BaseHead from "../components/base-head.astro";
import ContentHead from "../components/content-head.astro";

const description =
  "Standup Kiwi is an open-source standup board for teams and solo experts — a calm, clear, and effortless way to share and record daily standups, whether async or live.";
---

<html lang="en">
  <head>
    <BaseHead />
    <ContentHead
      title="The standup board for teams and solo experts"
      description={description}
    />
  </head>

  <body>
    <IndexContent client:load />
  </body>
</html>
